/* Primary Colors */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poiret+One&display=swap");
:root {
  --dark-color: hsl(212, 100%, 72%);
  --primary-color: #a7d8ba;
  --secondary-color: #e96f51;
  --tertiary-color: #f8d586;
  --color-red: #e96f51;
  --color-orange: #f5a361;
  --color-yellow: #f8d586;
  --color-cream: #edeae0;
  --color-green: #a7d8ba;
  --color-light-blue: #86c0d1;
  --color-medium-blue: #25aae1;
  --color-dark-blue: #4f69b2;
  --color-purple: #c999b2;
  --black: hsl(280, 3%, 23%);
  --white: hsl(60, 17%, 83%);
  --container-white: hsl(40, 11%, 95%);
  --button-color: var(--secondary-color);
  --button-active: hsl(21, 72%, 65%);
  --success-color: #6bd684;
  --warning-color: #ffd863;
  --error-color: #dc3545;
  --body-bg: var(--black);
  --text-color: var(--white);
  --nav: var(--white);
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;
  --fs-96: 6rem;
  --container: 69.375rem;
  --hero-width: 358px;
  --transition: 0.3s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-140%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-140%);
    opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUpBig {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownSmall {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spinRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes moveUpDownBig {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30px);
    transform: translateY(-30px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(30px);
    translate: transformY(30px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Reset all margins, padding, and borders */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Normalize font properties */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; /* Prevent text size adjustment in Safari */
  scroll-behavior: smooth;
}

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset form elements */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Normalize vertical alignment for inputs in different browsers */
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
  vertical-align: middle;
}

/* Remove default button styles */
button {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* Reset image alignment */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Manrope", sans-serif;
}

.click-transition {
  transition: transform 0.1s ease-in-out, color 0.2s ease;
}
.click-transition:hover {
  color: var(--button-color);
  transform: translateY(-0.5px);
}
.click-transition:active {
  transform: translateY(0px);
}

.grow-hover {
  transition: transform 0.2s ease-in-out, color 0.2s ease;
}
.grow-hover:hover {
  color: var(--button-active);
  transform: scale(106%);
}
.grow-hover:active {
  transform: scale(100%);
}

.toggler-icon {
  color: var(--white);
  font-size: var(--fs-28);
}

.arrow-up {
  color: var(--color-red);
  position: fixed;
  right: 20px;
  bottom: 70px;
  font-size: var(--fs-36);
  z-index: 99;
}

.arrow-down {
  color: var(--secondary-color);
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: var(--fs-36);
  z-index: 99;
}

.color-palette-wrapper {
  display: flex;
}

.circle-container {
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: width 0.3s ease-in-out, background-color 0.3s ease;
  width: 40px;
}
.circle-container:not(:last-child) {
  margin-right: 20px;
}
.circle-container:hover {
  width: 95px;
  background-color: var(--container-white);
}

.circle-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-text {
  opacity: 0;
  padding: 20px;
  transition: opacity 1.2s ease;
  color: var(--black);
  text-align: center;
}

.circle-container:hover .circle-text {
  opacity: 1;
}

.circle-1 {
  background-color: var(--color-red);
}

.circle-2 {
  background-color: var(--color-yellow);
}

.circle-3 {
  background-color: var(--color-green);
}

.circle-4 {
  background-color: var(--color-light-blue);
}

.circle-5 {
  background-color: var(--color-medium-blue);
}

:root {
  --hi-0-width: 128.8px; /* 184px * 0.7 */
  --hi-0-height: 275.8px; /* 394px * 0.7 */
  --hi-1-width: 72.1px; /* 103px * 0.7 */
  --hi-1-height: 119px; /* 170px * 0.7 */
  --hi-2-width: 133.7px; /* 191px * 0.7 */
  --hi-2-height: 287px; /* 410px * 0.7 */
  --hi-3-width: 133.7px; /* 191px * 0.7 */
  --hi-3-height: 287px; /* 410px * 0.7 */
  --hi-4-width: 573.3px; /* 819px * 0.7 */
  --hi-4-height: 438.9px; /* 627px * 0.7 */
  --hi-5-width: 336.7px; /* 481px * 0.7 */
  --hi-5-height: 214.2px; /* 306px * 0.7 */
  --hi-6-width: 133.7px; /* 191px * 0.7 */
  --hi-6-height: 91px; /* 130px * 0.7 */
}

.hi-container-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hi-container {
  position: relative;
  min-width: 600px;
  min-height: 600px;
  animation: none;
}

.hi-0,
.hi-1,
.hi-2,
.hi-3,
.hi-4,
.hi-5,
.hi-6 {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 0;
}

.hi-0 {
  animation-duration: 1.5s;
  animation-name: slideUp;
  top: 30px;
  left: 385px;
  width: var(--hi-0-width);
  height: var(--hi-0-height);
}

.hi-1 {
  animation-duration: 19s;
  animation-name: moveLeftRight;
  animation-iteration-count: infinite;
  top: 160px;
  left: 490px;
  width: var(--hi-1-width);
  height: var(--hi-1-height);
  z-index: -1;
}

.hi-2 {
  animation-duration: 2s;
  animation-name: slideUp;
  top: 70px;
  left: 310px;
  width: var(--hi-2-width);
  height: var(--hi-2-height);
}

.hi-3 {
  animation-duration: 19s;
  animation-name: moveUpDownBig;
  animation-iteration-count: infinite;
  top: 70px;
  left: 310px;
  width: var(--hi-3-width);
  height: var(--hi-3-height);
}

.hi-4 {
  animation-duration: 2.5s;
  animation-name: slideUp;
  top: 50px;
  left: -40px;
  width: var(--hi-4-width);
  height: var(--hi-4-height);
}

.hi-5 {
  /* animation-duration: 12s;
  animation-name: moveUpDownBig;
  animation-iteration-count: infinite; */
  top: 346px;
  left: 189px;
  width: var(--hi-5-width);
  height: var(--hi-5-height);
}

.hi-6 {
  animation-duration: 6s;
  animation-name: moveUpDown;
  animation-iteration-count: infinite;
  top: 172px;
  left: 117px;
  width: var(--hi-6-width);
  height: var(--hi-6-height);
}

@media (max-width: 480px) {
  .hi-container {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    animation: none;
  }
  .hi-0 {
    width: calc(var(--hi-0-width) * 0.6);
    height: calc(var(--hi-0-height) * 0.6);
    top: 18px;
    left: 231px;
  }
  .hi-1 {
    width: calc(var(--hi-1-width) * 0.6);
    height: calc(var(--hi-1-height) * 0.6);
    top: 96px;
    left: 294px;
  }
  .hi-2 {
    width: calc(var(--hi-2-width) * 0.6);
    height: calc(var(--hi-2-height) * 0.6);
    top: 42px;
    left: 186px;
  }
  .hi-3 {
    width: calc(var(--hi-3-width) * 0.6);
    height: calc(var(--hi-3-height) * 0.6);
    top: 42px;
    left: 186px;
  }
  .hi-4 {
    width: calc(var(--hi-4-width) * 0.6);
    height: calc(var(--hi-4-height) * 0.6);
    top: 30px;
    left: -24px;
  }
  .hi-5 {
    width: calc(var(--hi-5-width) * 0.6);
    height: calc(var(--hi-5-height) * 0.6);
    top: 207.6px;
    left: 113.4px;
  }
  .hi-6 {
    width: calc(var(--hi-6-width) * 0.6);
    height: calc(var(--hi-6-height) * 0.6);
    top: 103.2px;
    left: 70.2px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .hi-container {
    position: relative;
    animation: none;
  }
  .hi-0 {
    width: calc(var(--hi-0-width) * 0.6);
    height: calc(var(--hi-0-height) * 0.6);
    top: 18px;
    left: 231px;
  }
  .hi-1 {
    width: calc(var(--hi-1-width) * 0.6);
    height: calc(var(--hi-1-height) * 0.6);
    top: 96px;
    left: 294px;
  }
  .hi-2 {
    width: calc(var(--hi-2-width) * 0.6);
    height: calc(var(--hi-2-height) * 0.6);
    top: 42px;
    left: 186px;
  }
  .hi-3 {
    width: calc(var(--hi-3-width) * 0.6);
    height: calc(var(--hi-3-height) * 0.6);
    top: 42px;
    left: 186px;
  }
  .hi-4 {
    width: calc(var(--hi-4-width) * 0.6);
    height: calc(var(--hi-4-height) * 0.6);
    top: 30px;
    left: -24px;
  }
  .hi-5 {
    width: calc(var(--hi-5-width) * 0.6);
    height: calc(var(--hi-5-height) * 0.6);
    top: 207.6px;
    left: 113.4px;
  }
  .hi-6 {
    width: calc(var(--hi-6-width) * 0.6);
    height: calc(var(--hi-6-height) * 0.6);
    top: 103.2px;
    left: 70.2px;
  }
}
.header-icon {
  color: var(--white);
}

html,
body {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

body {
  font-weight: 500;
  line-height: 1.56;
  background-color: var(--white);
  color: var(--black);
}

body.dark-theme {
  font-weight: 500;
  line-height: 1.56;
  background-color: var(--black);
  color: var(--white);
}

h2 {
  font-size: var(--fs-24);
  text-decoration-style: wavy;
}

.wrapper {
  height: 100vh;
}

@media (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
  .wrapper {
    width: 90vw;
  }
}
footer {
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 50px;
}

.brand-and-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0 1rem;
}

.header-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.navbar-brand {
  font-weight: 300;
  float: left;
  color: var(--white);
  transition: color var(--transition);
  animation: slideleft;
  animation-duration: 0.9s;
}

.contact-text {
  color: var(--white);
}

#theme-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-text {
  padding-left: 4px;
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: var(--fs-20);
  }
  .header-button-container {
    width: 40vw;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar-brand {
    font-size: var(--fs-20);
  }
}
@media (min-width: 768px) {
  .navbar-brand {
    font-size: var(--fs-24);
  }
  .navbar-toggler {
    margin-right: 20px;
  }
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100%;
}

#left-hero {
  animation-duration: 1.5s;
  animation-name: slideUp;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
}

.hero-text-container {
  height: -moz-fit-content;
  height: fit-content;
  width: var(--hero-width);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.hero-text-container h1 {
  font-family: "Oswald", sans-serif;
  font-size: var(--fs-96);
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 1;
  font-weight: 300;
}
.hero-text-container h2 {
  font-family: "Poiret One", cursive;
  font-size: var(--fs-28);
  line-height: 1;
}
.hero-text-container p {
  border-top: solid 2px;
  margin-top: 20px;
  padding-top: 20px;
  width: auto;
  font-weight: 400;
  text-align: justify;
}

.hero-ampersand-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#ampersand {
  font-size: var(--fs-48);
  margin-left: 10px;
}

.hero-portrait-border {
  animation-duration: 1.5s;
  animation-name: slideUp;
  border-radius: 50%;
  min-height: 250px;
  justify-content: center;
  outline: 2px solid var(--dark-color);
  overflow: hidden;
  width: 250px;
  z-index: 3;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.hero-portrait-border:hover {
  transform: scale(104%);
}

.hero-portrait {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  min-height: 250px;
  width: auto;
  z-index: 1;
}

.dot-grid {
  height: 850px;
  position: absolute;
  z-index: -2;
}

@media (max-width: 480px) {
  .hero-wrapper {
    height: 200vh;
    width: 100vw;
    flex-direction: column;
  }
  .right-hero {
    width: 90vw;
  }
  #left-hero {
    width: 90vw;
  }
  .hero-text-container {
    height: -moz-fit-content;
    height: fit-content;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  .hero-text-container h1 {
    font-family: "Oswald", sans-serif;
    font-size: var(--fs-72);
    text-transform: uppercase;
    letter-spacing: -4px;
    line-height: 1;
    font-weight: 300;
  }
  .hero-text-container p {
    width: -moz-fit-content;
    width: fit-content;
    text-align: justify;
  }
}
.nav-item {
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
}

.nav-link {
  color: var(--black);
  font-size: var(--fs-72);
  text-transform: uppercase;
  letter-spacing: -4px;
}

.nav {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: calc(100vh - 50px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: var(--tertiary-color);
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 480px) {
  .brand-and-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    font-size: var(--fs-48);
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .nav-link {
    font-size: var(--fs-28);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-link {
    font-size: var(--fs-36);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-140%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-140%);
    opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUpBig {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownSmall {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spinRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes moveUpDownBig {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30px);
    transform: translateY(-30px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(30px);
    translate: transformY(30px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Primary Colors */
:root {
  --dark-color: hsl(212, 100%, 72%);
  --primary-color: #a7d8ba;
  --secondary-color: #e96f51;
  --tertiary-color: #f8d586;
  --color-red: #e96f51;
  --color-orange: #f5a361;
  --color-yellow: #f8d586;
  --color-cream: #edeae0;
  --color-green: #a7d8ba;
  --color-light-blue: #86c0d1;
  --color-medium-blue: #25aae1;
  --color-dark-blue: #4f69b2;
  --color-purple: #c999b2;
  --black: hsl(280, 3%, 23%);
  --white: hsl(60, 17%, 83%);
  --container-white: hsl(40, 11%, 95%);
  --button-color: var(--secondary-color);
  --button-active: hsl(21, 72%, 65%);
  --success-color: #6bd684;
  --warning-color: #ffd863;
  --error-color: #dc3545;
  --body-bg: var(--black);
  --text-color: var(--white);
  --nav: var(--white);
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;
  --fs-96: 6rem;
  --container: 69.375rem;
  --hero-width: 358px;
  --transition: 0.3s ease-in-out;
}

