/* Primary Colors */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poiret+One&display=swap");
:root {
  --primary-color: hsl(170, 97%, 76%);
  --secondary-color: hsl(7, 58%, 60%);
  --tertiary-color: hsl(44, 89%, 75%);
  --dark-color: hsl(212, 100%, 72%);
  --black: hsl(280, 3%, 23%);
  --white: hsl(60, 17%, 83%);
  --container-white: hsl(40, 11%, 95%);
  --success-color: #6bd684;
  --warning-color: #ffd863;
  --error-color: #dc3545;
  --body-bg: var(--black);
  --text-color: var(--white);
  --nav: var(--white);
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;
  --fs-96: 6rem;
  --container: 69.375rem;
  --hero-width: 358px;
  --transition: 0.3s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(120%);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownSmall {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spinRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes moveUpDownBig {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30px);
    transform: translateY(-30px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(30px);
    translate: transformY(30px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Reset all margins, padding, and borders */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Normalize font properties */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; /* Prevent text size adjustment in Safari */
  scroll-behavior: smooth;
}

/* Reset margins */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset form elements */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Normalize vertical alignment for inputs in different browsers */
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
textarea {
  vertical-align: middle;
}

/* Remove default button styles */
button {
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* Reset image alignment */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Manrope", sans-serif;
}

.header-icon {
  color: var(--white);
  transition: color var(--transition);
}

.header-icon:hover {
  color: var(--secondary-color);
}

.toggler-icon {
  color: var(--white);
  font-size: var(--fs-24);
  padding: 10px 20px 10px 10px;
  transition: color var(--transition);
}

.toggler-icon:hover {
  color: var(--secondary-color);
}

.arrow-down {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: var(--fs-36);
  animation-name: slidedown;
  animation-duration: 1.5s;
  z-index: 3;
  transition: transform 0.2s ease;
}
.arrow-down:hover {
  transform: scale(108%);
}

.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 70px;
  font-size: var(--fs-36);
  animation-name: slideDownSmall;
  animation-duration: 0.5s;
  z-index: 3;
  transition: transform 0.2s ease;
}
.arrow-up:hover {
  transform: scale(108%);
}

.svg-circle {
  width: 200px;
  height: 200px;
  grid-column: 10/13;
  grid-row: 9/12;
  animation-name: slideup;
  animation-duration: 1s;
  animation: moveUpDown 2s ease-in-out infinite;
}

.svg-circle-top-split {
  grid-column: 6/10;
  grid-row: 2/5;
  animation: spinright 10s linear infinite;
}

.svg-circle-bottom-split {
  grid-column: 6/10;
  grid-row: 2/5;
  animation: spinleft 10s linear infinite;
}

.svg-dot-matrix {
  grid-column: 10/14;
  grid-row: 3/8;
  z-index: -1;
  animation-name: slidedown;
  animation-duration: 2s;
}

.svg-dot-matrix-work {
  z-index: -1;
  height: 400px;
  width: 200px;
  animation-name: slidedown;
  animation-duration: 2s;
}

.svg-x-outline {
  grid-column: 1/4;
  grid-row: 10/12;
  animation-name: slideup;
  animation-duration: 1s;
}

.svg-x-solid {
  grid-column: 1/4;
  grid-row: 10/12;
  z-index: -1;
  animation: moveLeftRight 5s ease-out infinite;
}

html,
body {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

body {
  font-weight: 500;
  line-height: 1.56;
  background-color: var(--white);
  color: var(--black);
}

body.dark-theme {
  background-color: var(--black);
  color: var(--white);
}

h2 {
  font-size: var(--fs-24);
  text-decoration-style: wavy;
}

.wrapper {
  height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.brand-and-toggler {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0 1rem;
}

.header-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}

.navbar-brand {
  font-weight: 300;
  float: left;
  color: var(--white);
  transition: color var(--transition);
  animation: slideleft;
  animation-duration: 0.9s;
}
.navbar-brand:hover {
  color: var(--secondary-color);
}

.contact-text {
  color: var(--white);
  padding: 0 15px;
  border-right: 1px solid var(--white);
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: var(--fs-18);
  }
  .hide-mobile {
    display: none;
  }
  .header-buttons {
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: center;
  }
  .header-icon {
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
  }
  .bi-envelope-fill {
    border-right: none;
  }
  .navbar-toggler {
    position: absolute;
    right: 0;
  }
  #theme-toggle-button {
    position: absolute;
    left: 0;
    padding: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar-brand {
    font-size: var(--fs-20);
  }
}
@media (min-width: 768px) {
  .navbar-brand {
    font-size: var(--fs-24);
  }
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 700px;
  height: 100vh;
}

.left-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  z-index: -1;
}

.right-hero {
  animation-duration: 1.5s;
  animation-name: slideUp;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  background-color: var(--black);
}

.hero-text-container {
  height: -moz-fit-content;
  height: fit-content;
  width: var(--hero-width);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.hero-text-container h1 {
  font-family: "Oswald", sans-serif;
  font-size: var(--fs-96);
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 1;
  font-weight: 300;
}
.hero-text-container h2 {
  font-family: "Poiret One", cursive;
  font-size: var(--fs-28);
  line-height: 1;
}
.hero-text-container p {
  border-top: solid 2px;
  margin-top: 20px;
  padding-top: 20px;
  width: var(--hero-width);
  font-weight: 400;
  text-align: justify;
}

.hero-ampersand-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#ampersand {
  font-size: var(--fs-48);
  margin-left: 10px;
}

.hero-portrait-border {
  animation-duration: 1.5s;
  animation-name: slideUp;
  border-radius: 50%;
  height: 250px;
  justify-content: center;
  outline: 2px solid var(--dark-color);
  overflow: hidden;
  width: 250px;
  z-index: 3;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.hero-portrait-border:hover {
  transform: scale(104%);
}

.hero-portrait {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  height: 250px;
  width: auto;
  z-index: 1;
}

.hi-container-wrapper {
  height: 100vh;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hi-container {
  right: 10%;
  min-width: 500px;
  min-height: 600px;
  animation: none;
}

.hi-0,
.hi-1,
.hi-2,
.hi-3,
.hi-4,
.hi-5,
.hi-6 {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 0;
}

.hi-0 {
  animation-duration: 1.5s;
  animation-name: slideLeft;
  top: 25px;
  left: 705px;
}

.hi-1 {
  animation-duration: 19s;
  animation-name: moveLeftRight;
  animation-iteration-count: infinite;
  top: 290px;
  left: 835px;
}

.hi-2 {
  animation-duration: 1.5s;
  animation-name: slideDown;
  top: 83px;
  left: 600px;
}

.hi-3 {
  animation-duration: 19s;
  animation-name: moveUpDownBig;
  animation-iteration-count: infinite;
  top: 83px;
  left: 600px;
}

.hi-4 {
  animation-duration: 1.5s;
  animation-name: slideRight;
  top: 50px;
  left: 100px;
}

.hi-5 {
  top: 473px;
  left: 428px;
}

.hi-6 {
  animation-duration: 6s;
  animation-name: moveUpDown;
  animation-iteration-count: infinite;
  top: 225px;
  left: 325px;
}

.nav-item {
  padding-bottom: 30px;
  font-family: "Oswald", sans-serif;
}

.nav-link {
  color: var(--black);
  font-size: var(--fs-72);
  text-transform: uppercase;
  letter-spacing: -2px;
  transition: letter-spacing 0.2s ease-in-out;
}
.nav-link:hover {
  letter-spacing: 8px;
}

.nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: var(--tertiary-color);
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 480px) {
  .brand-and-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .nav-link {
    font-size: var(--fs-28);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-link {
    font-size: var(--fs-36);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(120%);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownSmall {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spinRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes moveUpDownBig {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30px);
    transform: translateY(-30px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(30px);
    translate: transformY(30px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Primary Colors */
:root {
  --primary-color: hsl(170, 97%, 76%);
  --secondary-color: hsl(7, 58%, 60%);
  --tertiary-color: hsl(44, 89%, 75%);
  --dark-color: hsl(212, 100%, 72%);
  --black: hsl(280, 3%, 23%);
  --white: hsl(60, 17%, 83%);
  --container-white: hsl(40, 11%, 95%);
  --success-color: #6bd684;
  --warning-color: #ffd863;
  --error-color: #dc3545;
  --body-bg: var(--black);
  --text-color: var(--white);
  --nav: var(--white);
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;
  --fs-96: 6rem;
  --container: 69.375rem;
  --hero-width: 358px;
  --transition: 0.3s ease-in-out;
}

