.contact-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    width: fit-content;
  }
  p {
    text-align: center;
  }
}
.contact-icon-wrapper {
  width: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  //background-color: var(--color-cream);
}

#contact-form {
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px 0;
  background-color: var(--color-cream);
  border: 2px solid var(--black);
  border-radius: 10px;
  padding: 40px;
}
.form-input-wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
