.portfolio-section-text-wrapper {
  height: 100%;
}

.projects-wrapper {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.project:first-child {
  border-radius: 5px 0 0 5px;
  border-left: 2px solid;
}
.project:last-child {
  border-radius: 0 5px 5px 0;
}

.project {
  width: 100%;
  height: 100%;
  border: solid;
  border-width: 2px 2px 2px 0;
  //border-radius: 5px;
  background-color: var(--color-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  transition: all 0.8s ease, background-color 0.2s ease;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 0;

  h3 {
    width: 100%;
    opacity: 1;
  }

  p {
    opacity: 0;
    display: block;
    transition: opacity 0.7s ease, transform 1s ease;
    width: 500px;
    overflow: hidden;
  }

  &:active {
    background-color: var(--color-cream);
  }

  &:hover {
    width: 700%;

    p {
      opacity: 1;
      text-align: justify;
    }

    .project-details {
      display: flex;
      opacity: 1;
      transition: opacity 1s ease;
      align-items: center;
    }
  }
}

.project .project-content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project:hover .content {
  opacity: 0;
  transform: translateX(-10px);
}

.project .project-details {
  opacity: 0;
  transform: translateX(-10px); /* Apply a subtle slide effect */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project:hover .interior-content {
  opacity: 1;
  transform: translateX(0);
}

.active {
  background-color: var(--color-cream);
}
.project-details {
  display: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.portfolio-images {
  z-index: 0;
  height: 100%;
  width: 300px;
  padding: 10px;
  overflow: hidden;
}

.portfolio-keyword-wrapper {
  width: auto;
}

// Mobile
@media (max-width: $mobile-breakpoint) {
  .projects-wrapper {
    flex-direction: column;

    :not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .project {
    height: 100px;
    width: 100%;
    transition: height 0.3s ease-in-out;

    &:hover {
      height: 200%;
      width: 100%;
    }
  }
}

// Tablet
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .projects-wrapper {
    flex-direction: column;
    transition: height 0.3s ease-in-out;

    :not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .project {
    transition: height 0.3s ease-in-out;

    &:hover {
      height: 800%;
      width: 100%;
    }
  }
}
