.right-column {
  border: solid 2px;
  border-radius: 10px;
  overflow: hidden;
  color: var(--black);
  max-width: 100%;

  h3 {
    border: solid;
    border-width: 2px 0;
    padding: 10px;
    background-color: var(--color-beige);
    letter-spacing: 4px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }

  h3:first-child {
    padding: 10px;
    border: solid;
    border-width: 0 0 2px 0;
  }
  p {
    padding: 15px;
    background-color: var(--color-cream);
  }
}

// SKILLS KEYWORDS //
.skills-keyword-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  z-index: 99;
  color: var(--black);
}

.keyword-container {
  align-items: center;
  border-radius: 20px;
  border: solid 2px;
  cursor: crosshair;
  display: flex;
  margin: 5px;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  width: fit-content;
  background-color: var(--color-green-transparent);
}
.keyword-text {
  opacity: 1;
  padding: 7px 12px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: $mobile-breakpoint) {
  .skills-keyword-wrapper {
    margin: 40px 0;
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
}
