/* Primary Colors */
:root {
  --primary-color: hsl(170, 97%, 76%);
  //--secondary-color: hsl(188, 54%, 39%);
  --secondary-color: hsl(7, 58%, 60%);
  --tertiary-color: hsl(69, 89%, 81%);
  --dark-color: hsl(221, 98%, 66%);

  --black: hsl(280, 3%, 23%);
  --white: hsl(53, 19%, 91%);

  --success-color: #6bd684;
  --warning-color: #ffd863;
  --error-color: #dc3545;

  --body-bg: var(--black);
  --text-color: var(--white);
  --nav: var(--white);

  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;

  --container: 69.375rem; // 1110px

  --transition: 0.3s ease-in-out; //hover over transition
}

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
