html,
body {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

body {
  //font-size: var(--fs-18);
  font-weight: 500;
  line-height: 1.56;
  background-color: var(--white);
  color: var(--black);
}

body.dark-theme {
  font-weight: 500;
  line-height: 1.56;
  background-color: var(--black);
  color: var(--white);
}

h2 {
  font-size: var(--fs-24);
  text-decoration-style: wavy;
}

.wrapper {
  height: 100vh;
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
  .wrapper {
    //width: calc(100% - 2rem);
    //max-width: var(--container);
    //margin-inline: auto;
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .wrapper {
    //width: calc(100% - 3rem);
    // max-width: var(--container);
    //margin-inline: auto;
  }
}

// DESKTOP
@media (min-width: $tablet-breakpoint) {
  .wrapper {
    //width: calc(100% - 3rem);
    //max-width: var(--container);
    //margin-inline: auto;
  }
}
