html {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

body {
  line-height: 1.56;
  background-color: var(--white);
  color: var(--black);
  width: 100vw; /* Apply 100vw to the body element only */
  border: 1px dotted red;
}

body.dark-theme {
  font-weight: 500;
  line-height: 1.56;
  background-color: var(--black);
  color: var(--white);
}
main {
  border: 1px dotted rgb(30, 255, 0);
}

h2 {
  font-size: var(--fs-24);
  text-decoration-style: wavy;
}

.wrapper {
  height: 100vh;
  border: 1px dotted rgb(0, 102, 255);
}

p {
  font-weight: 500;
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
  .hide-mobile {
    display: none;
  }
  .wrapper {
    width: 100vw;
    height: fit-content;
  }
  p {
    font-size: var(--fs-14);
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
}

// DESKTOP
@media (min-width: $tablet-breakpoint) {
}
