header {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 50px;
}

.brand-and-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0 1rem;
}

.header-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.navbar-brand {
  font-weight: 300;
  float: left;
  color: var(--white);
  transition: color var(--transition);
  animation: slideleft;
  animation-duration: 0.9s;
}

.contact-text {
  color: var(--white);
}

#theme-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-text {
  padding-left: 4px;
}
// MOBILE
@media (max-width: $mobile-breakpoint) {
  .navbar-brand {
    font-size: var(--fs-20);
  }
  .header-button-container {
    width: 40vw;
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .navbar-brand {
    font-size: var(--fs-20);
    //font-weight: 800;
  }
}

// DESKTOP
@media (min-width: $tablet-breakpoint) {
  .navbar-brand {
    font-size: var(--fs-24);
  }
  .navbar-toggler {
    margin-right: 20px;
  }
}
