header {
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.brand-and-toggler {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0 1rem;
}

.header-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.navbar-brand {
  font-weight: 300;
  float: left;
  color: var(--white);
  transition: color var(--transition);
  animation: slideleft;
  animation-duration: 0.9s;
  &:hover {
    color: var(--secondary-color);
  }
}

.contact-text {
  color: var(--white);
  padding: 0 15px;
  border-right: 1px solid var(--white);
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
  .navbar-brand {
    font-size: var(--fs-18);
  }
  .hide-mobile {
    display: none;
  }

  .header-buttons {
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: center;
  }
  .header-icon {
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
  }
  .bi-envelope-fill {
    border-right: none;
  }
  .navbar-toggler {
    position: absolute;
    right: 0;
  }
  #theme-toggle-button {
    position: absolute;
    left: 0;
    padding: 20px;
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .navbar-brand {
    font-size: var(--fs-20);
    //font-weight: 800;
  }
}

// DESKTOP
@media (min-width: $tablet-breakpoint) {
  .navbar-brand {
    font-size: var(--fs-24);
    //font-weight: 800;
  }
}
