.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1200px; //might need to change
  //max-width: 1350px;
  height: 100vh;
}

// LEFT SECTION //
.right-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100%;
}

// HERO TEXT //
#left-hero {
  animation-duration: 1.5s;
  animation-name: slideUp;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
}

.hero-text-container {
  height: fit-content;
  width: var(--hero-width);
  //color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;

  h1 {
    font-family: "Oswald", sans-serif;
    font-size: var(--fs-96);
    text-transform: uppercase;
    letter-spacing: -4px;
    line-height: 1;
    font-weight: 300;
  }

  h2 {
    font-family: "Poiret One", cursive;
    font-size: var(--fs-28);
    line-height: 1;
  }

  p {
    border-top: solid 2px;
    margin-top: 20px;
    padding-top: 20px;
    width: var(--hero-width);
    font-weight: 400;
    text-align: justify;
  }
}

.hero-ampersand-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#ampersand {
  font-size: var(--fs-48);
  margin-left: 10px;
}

// AVATAR / PORTRAIT IMAGE //
.hero-portrait-border {
  animation-duration: 1.5s;
  animation-name: slideUp;
  //background-color: var(--white);
  border-radius: 50%;
  min-height: 250px;
  justify-content: center;
  outline: 2px solid var(--dark-color);
  overflow: hidden;
  width: 250px;
  z-index: 3;
  transform: translateY(0);

  transition: transform 0.3s ease;
  &:hover {
    transform: scale(104%);
  }
}

.hero-portrait {
  clip-path: circle(50%);
  min-height: 250px;
  width: auto;
  z-index: 1;
}

.dot-grid {
  height: 850px;
  position: absolute;
  z-index: -2;
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
}

// DESKTOP
@media (min-width: $tablet-breakpoint) {
}
