.welcome-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  p {
    margin-top: 10px;
    animation-name: slideup;
    animation-duration: 2s;
  }
}

.banner-title {
  font-size: var(--fs-48);
  font-weight: 1000;
  line-height: 1;
  animation-name: slidedown;
  animation-duration: 2s;
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
  .banner-title {
    //margin-top: 10px;
    font-size: var(--fs-56);
    width: calc(100% - 3rem);
  }
  .welcome-text-wrapper p {
    width: calc(100% - 3rem);
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
}

// DESKTOP
@media (min-width: $tablet-breakpoint) {
}
