.nav-item {
  padding-bottom: 30px;
}

.nav-link {
  color: var(--black);
  font-size: var(--fs-28);
  text-transform: uppercase;
  font-weight: 700;
  transition: color var(--transition);

  &:hover {
    color: var(--secondary-color);
  }
}

.nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: var(--primary-color); //light/dark theme here
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
  .brand-and-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .nav-link {
    //margin-top: 20px;
    font-size: var(--fs-28);
  }
}

// DESKTOP
@media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .nav-link {
    font-size: var(--fs-36);
  }
}
