.click-transition {
  transition: transform 0.1s ease-in-out, color 0.2s ease;

  &:hover {
    color: var(--button-color);
    transform: translateY(-0.5px);
  }

  &:active {
    //color: var(--button-active);
    transform: translateY(0px);
  }
}

.grow-hover {
  transition: transform 0.2s ease-in-out, color 0.2s ease;
  &:hover {
    color: var(--button-active);
    transform: scale(106%);
  }

  &:active {
    transform: scale(100%);
  }
}

.toggler-icon {
  color: var(--white);
  font-size: var(--fs-28);
}

.arrow-up {
  color: var(--color-red);
  position: fixed;
  right: 20px;
  bottom: 70px;
  font-size: var(--fs-36);
  z-index: 99;
}

.arrow-down {
  color: var(--secondary-color);
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: var(--fs-36);
  z-index: 99;
}

// CIRCLES //
.color-palette-wrapper {
  display: flex;
  z-index: 99;
}

.circle-container {
  // z-index: 3;
  align-items: center;
  border-radius: 20px;
  //border: solid 2px var(--black);
  cursor: crosshair;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: width 0.3s ease-in-out, background-color 0.3s ease;
  width: 40px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    width: 95px;
    background-color: var(--container-white);
  }
}

.circle-text {
  opacity: 0;
  padding: 20px;
  transition: opacity 1.2s ease;

  color: var(--black);
  text-align: center;
}

.circle-container:hover .circle-text {
  opacity: 1;
}

.circle-1 {
  background-color: var(--color-red);
}
.circle-2 {
  background-color: var(--color-yellow);
}
.circle-3 {
  background-color: var(--color-green);
}
.circle-4 {
  background-color: var(--color-light-blue);
}
.circle-5 {
  background-color: var(--color-medium-blue);
}
