:root {
  --hi-0-width: 128.8px; /* 184px * 0.7 */
  --hi-0-height: 275.8px; /* 394px * 0.7 */
  --hi-1-width: 72.1px; /* 103px * 0.7 */
  --hi-1-height: 119px; /* 170px * 0.7 */
  --hi-2-width: 133.7px; /* 191px * 0.7 */
  --hi-2-height: 287px; /* 410px * 0.7 */
  --hi-3-width: 133.7px; /* 191px * 0.7 */
  --hi-3-height: 287px; /* 410px * 0.7 */
  --hi-4-width: 573.3px; /* 819px * 0.7 */
  --hi-4-height: 438.9px; /* 627px * 0.7 */
  --hi-5-width: 336.7px; /* 481px * 0.7 */
  --hi-5-height: 214.2px; /* 306px * 0.7 */
  --hi-6-width: 133.7px; /* 191px * 0.7 */
  --hi-6-height: 91px; /* 130px * 0.7 */
}

.hi-container-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hi-container {
  position: relative;
  min-width: 600px;
  min-height: 600px;
  animation: none;
}

.hi-0,
.hi-1,
.hi-2,
.hi-3,
.hi-4,
.hi-5,
.hi-6 {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 0;
}

// ! text
.hi-0 {
  animation-duration: 1.5s;
  animation-name: slideUp;
  top: 30px;
  left: 385px;
  width: var(--hi-0-width);
  height: var(--hi-0-height);
}

// cylinder
.hi-1 {
  animation-duration: 19s;
  animation-name: moveLeftRight;
  animation-iteration-count: infinite;
  top: 160px;
  left: 490px;
  width: var(--hi-1-width);
  height: var(--hi-1-height);
  z-index: -1;
}

// I solid
.hi-2 {
  animation-duration: 2s;
  animation-name: slideUp;
  top: 70px;
  left: 310px;
  width: var(--hi-2-width);
  height: var(--hi-2-height);
}

// I outline
.hi-3 {
  animation-duration: 19s;
  animation-name: moveUpDownBig;
  animation-iteration-count: infinite;
  top: 70px;
  left: 310px;
  width: var(--hi-3-width);
  height: var(--hi-3-height);
}

// H solid
.hi-4 {
  animation-duration: 2.5s;
  animation-name: slideUp;
  top: 50px;
  left: -40px;
  width: var(--hi-4-width);
  height: var(--hi-4-height);
}

// H outline
.hi-5 {
  /* animation-duration: 12s;
  animation-name: moveUpDownBig;
  animation-iteration-count: infinite; */
  top: 346px;
  left: 189px;
  width: var(--hi-5-width);
  height: var(--hi-5-height);
}

// H top
.hi-6 {
  animation-duration: 6s;
  animation-name: moveUpDown;
  animation-iteration-count: infinite;
  top: 172px;
  left: 117px;
  width: var(--hi-6-width);
  height: var(--hi-6-height);
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
  .hi-container {
    display: none;
  }

  // .hi-0 {
  //   width: calc(var(--hi-0-width) * 0.6);
  //   height: calc(var(--hi-0-height) * 0.6);
  //   top: calc(30px * 0.6);
  //   left: calc(385px * 0.6);
  // }

  // .hi-1 {
  //   width: calc(var(--hi-1-width) * 0.6);
  //   height: calc(var(--hi-1-height) * 0.6);
  //   top: calc(160px * 0.6);
  //   left: calc(490px * 0.6);
  // }

  // .hi-2 {
  //   width: calc(var(--hi-2-width) * 0.6);
  //   height: calc(var(--hi-2-height) * 0.6);
  //   top: calc(70px * 0.6);
  //   left: calc(310px * 0.6);
  // }

  // .hi-3 {
  //   width: calc(var(--hi-3-width) * 0.6);
  //   height: calc(var(--hi-3-height) * 0.6);
  //   top: calc(70px * 0.6);
  //   left: calc(310px * 0.6);
  // }

  // .hi-4 {
  //   width: calc(var(--hi-4-width) * 0.6);
  //   height: calc(var(--hi-4-height) * 0.6);
  //   top: calc(50px * 0.6);
  //   left: calc(-40px * 0.6);
  // }

  // .hi-5 {
  //   width: calc(var(--hi-5-width) * 0.6);
  //   height: calc(var(--hi-5-height) * 0.6);
  //   top: calc(346px * 0.6);
  //   left: calc(189px * 0.6);
  // }

  // .hi-6 {
  //   width: calc(var(--hi-6-width) * 0.6);
  //   height: calc(var(--hi-6-height) * 0.6);
  //   top: calc(172px * 0.6);
  //   left: calc(117px * 0.6);
  // }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .hi-container {
    //border: 1px solid red;
    position: relative;
    min-width: 345px;
    min-height: 305px;
    animation: none;
  }

  .hi-0 {
    width: calc(var(--hi-0-width) * 0.6);
    height: calc(var(--hi-0-height) * 0.6);
    top: calc(30px * 0.6);
    left: calc(385px * 0.6);
  }

  .hi-1 {
    width: calc(var(--hi-1-width) * 0.6);
    height: calc(var(--hi-1-height) * 0.6);
    top: calc(160px * 0.6);
    left: calc(490px * 0.6);
  }

  .hi-2 {
    width: calc(var(--hi-2-width) * 0.6);
    height: calc(var(--hi-2-height) * 0.6);
    top: calc(70px * 0.6);
    left: calc(310px * 0.6);
  }

  .hi-3 {
    width: calc(var(--hi-3-width) * 0.6);
    height: calc(var(--hi-3-height) * 0.6);
    top: calc(70px * 0.6);
    left: calc(310px * 0.6);
  }

  .hi-4 {
    width: calc(var(--hi-4-width) * 0.6);
    height: calc(var(--hi-4-height) * 0.6);
    top: calc(50px * 0.6);
    left: calc(-40px * 0.6);
  }

  .hi-5 {
    width: calc(var(--hi-5-width) * 0.6);
    height: calc(var(--hi-5-height) * 0.6);
    top: calc(346px * 0.6);
    left: calc(189px * 0.6);
  }

  .hi-6 {
    width: calc(var(--hi-6-width) * 0.6);
    height: calc(var(--hi-6-height) * 0.6);
    top: calc(172px * 0.6);
    left: calc(117px * 0.6);
  }
}

// DESKTOP
@media (min-width: $tablet-breakpoint) {
}
