.header-icon {
  color: var(--white);
}

.toggler-icon {
  color: var(--white);
  font-size: var(--fs-24);
  padding: 10px 20px 10px 10px;
}

.arrow-down {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: var(--fs-36);
  animation-name: slidedown;
  animation-duration: 1.5s;

  z-index: 3;
}

.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 70px;
  font-size: var(--fs-36);
  animation-name: slideDownSmall;
  animation-duration: 0.5s;

  z-index: 3;
}
