.section {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  align-items: center;
  //border: 1px solid aquamarine;
}

.section-container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
}

.section-image-mobile {
  display: none;
}

.section-image-narrow {
  width: 100%;
  max-width: 80vw;
  margin-bottom: -55px;
  opacity: 70%;
  z-index: -5;
  position: relative;
}

.section-image-wide {
  width: 800px;
  margin-bottom: -125px;
  opacity: 70%;
  z-index: -1;
}

.section-text-container {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin-top: 5vw;
  max-width: 1000px;
  width: 90vw;

  h1 {
    border-bottom: solid 2px;
    font-family: "Oswald", sans-serif;
    font-size: var(--fs-96);
    font-weight: 300;
    letter-spacing: -4px;
    line-height: 1;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 99;

    transition: letter-spacing 0.5s cubic-bezier(0.75, 0, 0.36, 1),
      color 0.3s ease;

    &:hover {
      letter-spacing: 5px;
      color: var(--color-medium-blue);
    }
  }

  h2 {
    font-family: "Poiret One", cursive;
    font-size: var(--fs-28);
    line-height: 1;
  }

  h3:first-child {
    margin-top: 0px;
    padding: 0 0 10px 0;
  }

  h3 {
    font-size: var(--fs-24);
    font-weight: 500;
    line-height: 1;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    // margin-top: 20px;
    padding-bottom: 5px;
    width: auto;
    text-align: justify;
    //text-indent: 20px;
    line-height: 1.4;
  }
}

.two-column-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-count: 2;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.right-column {
  flex: 1;
}

// MOBILE
@media (max-width: $mobile-breakpoint) {
  .section-image-mobile {
    display: block;
    width: 80vw;
    margin-bottom: -105px;
    opacity: 50%;
    z-index: -1;
  }
  .section-container {
    height: fit-content;
  }
  .section-image-narrow {
    margin: 0;
    max-width: 100%;
  }
  .section-image-wide {
    display: none;
  }

  .section-text-container {
    height: fit-content;
    width: 90vw;
    max-width: 1000px;
    justify-content: center;
    padding: none;
    border: none;

    h1 {
      font-size: var(--fs-72);
    }

    p {
      width: fit-content;
      font-weight: 500;
      column-count: 1;
    }
  }

  .two-column-container {
    flex-direction: column;
  }
  .left-column {
    margin-right: 0;
  }
}

// TABLET
@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .section-image-mobile {
    display: none;
  }
  .section-image-narrow {
    max-width: 55vw;
  }
  .section-image-wide {
    max-width: 80vw;
    min-width: 500px;
  }
}
